<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>List</key>
	<dict>
		<key>Adolf.tiff</key>
		<dict>
			<key>0</key>
			<string>+adolf</string>
			<key>Name</key>
			<string>Adolf</string>
		</dict>
		<key>Alien.tiff</key>
		<dict>
			<key>0</key>
			<string>+alien</string>
			<key>Name</key>
			<string>Alien</string>
		</dict>
		<key>Ambivalent.tiff</key>
		<dict>
			<key>0</key>
			<string>:-l</string>
			<key>Name</key>
			<string>Ambivalent</string>
		</dict>
		<key>Angry.tiff</key>
		<string>&gt;:I</string>
		<key>Ass.tiff</key>
		<string>+ass</string>
		<key>Baby-boy.tiff</key>
		<string>+babyboy</string>
		<key>Baby-girl.tiff</key>
		<string>+babygirl</string>
		<key>Beer.tiff</key>
		<string>+beer</string>
		<key>Beret.tiff</key>
		<string>+beret</string>
		<key>Bomb.tiff</key>
		<string>*-O</string>
		<key>Burger.tiff</key>
		<string>+burger</string>
		<key>Cigar.tiff</key>
		<string>+cigar</string>
		<key>Clushing.tiff</key>
		<string>=-/</string>
		<key>Coffee.tiff</key>
		<string>+coffee</string>
		<key>Confused.tiff</key>
		<string>x_x</string>
		<key>Cool.tiff</key>
		<string>8-)</string>
		<key>Cooler.tiff</key>
		<string>8-l</string>
		<key>Crazy.tiff</key>
		<string>%-P</string>
		<key>Cry.tiff</key>
		<string>:c</string>
		<key>Crying.tiff</key>
		<string>:-((</string>
		<key>Cyclop.tiff</key>
		<string>o-)</string>
		<key>Devil.tiff</key>
		<string>):-D</string>
		<key>Distrusted.tiff</key>
		<string>¬¬</string>
		<key>Doctor.tiff</key>
		<string>:-[]</string>
		<key>Embarrassed.tiff</key>
		<string>:-[</string>
		<key>Finger.tiff</key>
		<string>+finger</string>
		<key>Footinmouth.tiff</key>
		<string>:-!</string>
		<key>Frown.tiff</key>
		<string>:-(</string>
		<key>Gasp.tiff</key>
		<string>:-O</string>
		<key>Grin.tiff</key>
		<string>^_^</string>
		<key>Heart.tiff</key>
		<string>+heart</string>
		<key>Ill.tiff</key>
		<string>:l(</string>
		<key>In-love.tiff</key>
		<string>*-P</string>
		<key>Innocent.tiff</key>
		<string>O:-)</string>
		<key>Japonais.tiff</key>
		<string>-_-</string>
		<key>Katze.tiff</key>
		<string>+katze</string>
		<key>Kiss.tiff</key>
		<string>:-*</string>
		<key>Laugh.tiff</key>
		<string>:-D</string>
		<key>Lightsaber-blue.tiff</key>
		<string>+lightsaberblue</string>
		<key>Lightsaber-green.tiff</key>
		<string>+lightsabergreen</string>
		<key>Lightsaber-red.tiff</key>
		<string>+lightsaberred</string>
		<key>Moneymouth.tiff</key>
		<string>:-$</string>
		<key>Nerd.tiff</key>
		<string>B-)</string>
		<key>Oops.tiff</key>
		<string>+oops</string>
		<key>Party.tiff</key>
		<string>+party</string>
		<key>Pig.tiff</key>
		<string>+pig</string>
		<key>Pinch.tiff</key>
		<string>X-.</string>
		<key>Pirate.tiff</key>
		<string>+pirate</string>
		<key>Pistol.tiff</key>
		<string>+pistol</string>
		<key>Pizza.tiff</key>
		<string>+pizza</string>
		<key>Poker.tiff</key>
		<string>+poker</string>
		<key>Police.tiff</key>
		<string>+police</string>
		<key>Red-star.tiff</key>
		<string>+commie</string>
		<key>Ruwi.tiff</key>
		<string>+ruwi</string>
		<key>Santa.tiff</key>
		<string>+santa</string>
		<key>Sarcastic.tiff</key>
		<string>;-D</string>
		<key>Sealed.tiff</key>
		<string>:-X</string>
		<key>Sick.tiff</key>
		<string>:-S</string>
		<key>Skull.tiff</key>
		<string>+skull</string>
		<key>Slant.tiff</key>
		<string>:-/</string>
		<key>Smile.tiff</key>
		<string>:-)</string>
		<key>Sorcerer.tiff</key>
		<string>+sorcerer</string>
		<key>Stupid.tiff</key>
		<string>+stupid</string>
		<key>Swastika.tiff</key>
		<string>+swastika</string>
		<key>Sweating.tiff</key>
		<string>l-(</string>
		<key>Tired.tiff</key>
		<string>+tired</string>
		<key>Trooper.tiff</key>
		<string>+trooper</string>
		<key>Vader.tiff</key>
		<string>+vader</string>
		<key>W00t.tiff</key>
		<string>+w00t</string>
		<key>Weed.tiff</key>
		<string>+weed</string>
		<key>Whistling.tiff</key>
		<string>+whistle</string>
		<key>Wink.tiff</key>
		<string>;-)</string>
		<key>Wtf.tiff</key>
		<string>O_o</string>
		<key>Yuck.tiff</key>
		<string>:-P</string>
		<key>Yummy.tiff</key>
		<string>:-c)</string>
		<key>Zorro.tiff</key>
		<string>+zorro</string>
	</dict>
	<key>Map</key>
	<dict>
		<key>%-P</key>
		<string>Crazy.tiff</string>
		<key>%-p</key>
		<string>Crazy.tiff</string>
		<key>):-D</key>
		<string>Devil.tiff</string>
		<key>*-O</key>
		<string>Bomb.tiff</string>
		<key>*-P</key>
		<string>In-love.tiff</string>
		<key>*-o</key>
		<string>Bomb.tiff</string>
		<key>+Adolf</key>
		<string>Adolf.tiff</string>
		<key>+Alien</key>
		<string>Alien.tiff</string>
		<key>+Ass</key>
		<string>Ass.tiff</string>
		<key>+Babyboy</key>
		<string>Baby-boy.tiff</string>
		<key>+Babygirl</key>
		<string>Baby-girl.tiff</string>
		<key>+Beer</key>
		<string>Beer.tiff</string>
		<key>+Beret</key>
		<string>Beret.tiff</string>
		<key>+Burger</key>
		<string>Burger.tiff</string>
		<key>+Cigar</key>
		<string>Cigar.tiff</string>
		<key>+Coffee</key>
		<string>Coffee.tiff</string>
		<key>+Commie</key>
		<string>Red-star.tiff</string>
		<key>+Fed</key>
		<string>Police.tiff</string>
		<key>+Finger</key>
		<string>Finger.tiff</string>
		<key>+Heart</key>
		<string>Heart.tiff</string>
		<key>+Katze</key>
		<string>Katze.tiff</string>
		<key>+Lightsaberblue</key>
		<string>Lightsaber-blue.tiff</string>
		<key>+Lightsabergreen</key>
		<string>Lightsaber-green.tiff</string>
		<key>+Lightsaberred</key>
		<string>Lightsaber-red.tiff</string>
		<key>+Nazi</key>
		<string>Swastika.tiff</string>
		<key>+Oops</key>
		<string>Oops.tiff</string>
		<key>+Party</key>
		<string>Party.tiff</string>
		<key>+Pig</key>
		<string>Pig.tiff</string>
		<key>+Pirate</key>
		<string>Pirate.tiff</string>
		<key>+Pistol</key>
		<string>Pistol.tiff</string>
		<key>+Pizza</key>
		<string>Pizza.tiff</string>
		<key>+Poker</key>
		<string>Poker.tiff</string>
		<key>+Police</key>
		<string>Police.tiff</string>
		<key>+Ruwi</key>
		<string>Ruwi.tiff</string>
		<key>+Santa</key>
		<string>Santa.tiff</string>
		<key>+Skull</key>
		<string>Skull.tiff</string>
		<key>+Stupid</key>
		<string>Stupid.tiff</string>
		<key>+Swastika</key>
		<string>Swastika.tiff</string>
		<key>+Tired</key>
		<string>Tired.tiff</string>
		<key>+Trooper</key>
		<string>Trooper.tiff</string>
		<key>+Vader</key>
		<string>Vader.tiff</string>
		<key>+W00t</key>
		<string>W00t.tiff</string>
		<key>+Weed</key>
		<string>Weed.tiff</string>
		<key>+Whistle</key>
		<string>Whistling.tiff</string>
		<key>+Woot</key>
		<string>W00t.tiff</string>
		<key>+Zorro</key>
		<string>Zorro.tiff</string>
		<key>+adolf</key>
		<string>Adolf.tiff</string>
		<key>+alien</key>
		<string>Alien.tiff</string>
		<key>+ass</key>
		<string>Ass.tiff</string>
		<key>+babyboy</key>
		<string>Baby-boy.tiff</string>
		<key>+babygirl</key>
		<string>Baby-girl.tiff</string>
		<key>+beer</key>
		<string>Beer.tiff</string>
		<key>+beret</key>
		<string>Beret.tiff</string>
		<key>+burger</key>
		<string>Burger.tiff</string>
		<key>+cigar</key>
		<string>Cigar.tiff</string>
		<key>+coffee</key>
		<string>Coffee.tiff</string>
		<key>+commie</key>
		<string>Red-star.tiff</string>
		<key>+fed</key>
		<string>Police.tiff</string>
		<key>+finger</key>
		<string>Finger.tiff</string>
		<key>+heart</key>
		<string>Heart.tiff</string>
		<key>+katze</key>
		<string>Katze.tiff</string>
		<key>+lightsaberblue</key>
		<string>Lightsaber-blue.tiff</string>
		<key>+lightsabergreen</key>
		<string>Lightsaber-green.tiff</string>
		<key>+lightsaberred</key>
		<string>Lightsaber-red.tiff</string>
		<key>+nazi</key>
		<string>Swastika.tiff</string>
		<key>+oops</key>
		<string>Oops.tiff</string>
		<key>+party</key>
		<string>Party.tiff</string>
		<key>+pig</key>
		<string>Pig.tiff</string>
		<key>+pirate</key>
		<string>Pirate.tiff</string>
		<key>+pistol</key>
		<string>Pistol.tiff</string>
		<key>+pizza</key>
		<string>Pizza.tiff</string>
		<key>+poker</key>
		<string>Poker.tiff</string>
		<key>+police</key>
		<string>Police.tiff</string>
		<key>+ruwi</key>
		<string>Ruwi.tiff</string>
		<key>+santa</key>
		<string>Santa.tiff</string>
		<key>+skull</key>
		<string>Skull.tiff</string>
		<key>+sorcerer</key>
		<string>Sorcerer.tiff</string>
		<key>+stupid</key>
		<string>Stupid.tiff</string>
		<key>+swastika</key>
		<string>Swastika.tiff</string>
		<key>+tired</key>
		<string>Tired.tiff</string>
		<key>+trooper</key>
		<string>Trooper.tiff</string>
		<key>+vader</key>
		<string>Vader.tiff</string>
		<key>+w00t</key>
		<string>W00t.tiff</string>
		<key>+weed</key>
		<string>Weed.tiff</string>
		<key>+whistle</key>
		<string>Whistling.tiff</string>
		<key>+woot</key>
		<string>W00t.tiff</string>
		<key>+zorro</key>
		<string>Zorro.tiff</string>
		<key>-_-</key>
		<string>Japonais.tiff</string>
		<key>0-)</key>
		<string>Cyclop.tiff</string>
		<key>0_o</key>
		<string>Wtf.tiff</string>
		<key>8)</key>
		<string>Cool.tiff</string>
		<key>8-)</key>
		<string>Cool.tiff</string>
		<key>8-l</key>
		<string>Cooler.tiff</string>
		<key>:!</key>
		<string>Footinmouth.tiff</string>
		<key>:$</key>
		<string>Moneymouth.tiff</string>
		<key>:'(</key>
		<string>Cry.tiff</string>
		<key>:'/</key>
		<string>Cry.tiff</string>
		<key>:(</key>
		<string>Frown.tiff</string>
		<key>:)</key>
		<string>Smile.tiff</string>
		<key>:*</key>
		<string>Kiss.tiff</string>
		<key>:-!</key>
		<string>Footinmouth.tiff</string>
		<key>:-$</key>
		<string>Moneymouth.tiff</string>
		<key>:-(</key>
		<string>Frown.tiff</string>
		<key>:-((</key>
		<string>Crying.tiff</string>
		<key>:-)</key>
		<string>Smile.tiff</string>
		<key>:-*</key>
		<string>Kiss.tiff</string>
		<key>:-/</key>
		<string>Slant.tiff</string>
		<key>:-C)</key>
		<string>Yummy.tiff</string>
		<key>:-S</key>
		<string>Sick.tiff</string>
		<key>:-[</key>
		<string>Embarrassed.tiff</string>
		<key>:-[]</key>
		<string>Doctor.tiff</string>
		<key>:-c</key>
		<string>Cry.tiff</string>
		<key>:-c)</key>
		<string>Yummy.tiff</string>
		<key>:-d</key>
		<string>Laugh.tiff</string>
		<key>:-l</key>
		<string>Ambivalent.tiff</string>
		<key>:-o</key>
		<string>Gasp.tiff</string>
		<key>:-p</key>
		<string>Yuck.tiff</string>
		<key>:-x</key>
		<string>Sealed.tiff</string>
		<key>:...-c</key>
		<string>Cry.tiff</string>
		<key>:...c</key>
		<string>Cry.tiff</string>
		<key>:/</key>
		<string>Slant.tiff</string>
		<key>:S</key>
		<string>Sick.tiff</string>
		<key>:[</key>
		<string>Embarrassed.tiff</string>
		<key>:c</key>
		<string>Cry.tiff</string>
		<key>:d</key>
		<string>Laugh.tiff</string>
		<key>:l(</key>
		<string>Ill.tiff</string>
		<key>:o</key>
		<string>Gasp.tiff</string>
		<key>:p</key>
		<string>Yuck.tiff</string>
		<key>:x</key>
		<string>Sealed.tiff</string>
		<key>;)</key>
		<string>Wink.tiff</string>
		<key>;-)</key>
		<string>Wink.tiff</string>
		<key>;-D</key>
		<string>Sarcastic.tiff</string>
		<key>&lt;:-)</key>
		<string>Sorcerer.tiff</string>
		<key>=-/</key>
		<string>Clushing.tiff</string>
		<key>&gt;:-c</key>
		<string>Angry.tiff</string>
		<key>&gt;:-i</key>
		<string>Angry.tiff</string>
		<key>&gt;:-o</key>
		<string>Angry.tiff</string>
		<key>&gt;:c</key>
		<string>Angry.tiff</string>
		<key>&gt;:i</key>
		<string>Angry.tiff</string>
		<key>&gt;:o</key>
		<string>Angry.tiff</string>
		<key>B-)</key>
		<string>Nerd.tiff</string>
		<key>O-)</key>
		<string>Cyclop.tiff</string>
		<key>O_o</key>
		<string>Wtf.tiff</string>
		<key>X-.</key>
		<string>Pinch.tiff</string>
		<key>^_^</key>
		<string>Grin.tiff</string>
		<key>l'-(</key>
		<string>Sweating.tiff</string>
		<key>l-(</key>
		<string>Sweating.tiff</string>
		<key>o-)</key>
		<string>Cyclop.tiff</string>
		<key>o:)</key>
		<string>Innocent.tiff</string>
		<key>o:-)</key>
		<string>Innocent.tiff</string>
		<key>x-.</key>
		<string>Pinch.tiff</string>
		<key>x_x</key>
		<string>Confused.tiff</string>
		<key>¬¬</key>
		<string>Distrusted.tiff</string>
	</dict>
</dict>
</plist>
