/**/

* {
    padding:0;
    margin:0;
}

body {
	font: normal <? fontsize ?> "<? fontname ?>", sans-serif;
	color: <? textcolor ?>;
    background-color: <? backgroundcolor ?>;
    line-height: 16px;
}

a { color: <? urltextcolor ?>; }

#chat-content {
	margin: 10px;
	overflow:hidden;
}

.chat-content-shadow {
	box-shadow: 0px 0px 2px rgba(127, 131, 137, 0.4);
	border-radius: 3px;
	border: 1px solid #999;
}

.chat-line, .chat-event {
	box-shadow: 0px -1px 0px #999;
}

.chat-line {
    width: 100%;
    min-height : 10px;
	background-color: <? backgroundcolor ?>;
}

.chat-line img, .chat-line iframe, .chat-line embed {
	max-width: 100%;
}

.chat-event {
	background: <? eventbackground ?>;
	text-align: center;
	min-height : 10px;
	padding: 5px;
	padding-bottom: 7px;
}

span.timestamp {
	float : left;
}

.chat-line span.timestamp {

}

.chat-event span.timestamp {

}


span.nick {
    width: 80px;
    float : right;
    color: #444;
    text-align: right;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

table {
	border: none;
	border-collapse: collapse;
	width: 100%;
}

td {
	vertical-align: top;
	padding: 5px;
	padding-bottom: 8px;
}

td.sidebar {
	width: 130px;
	background-color: <? sidebarbackground ?>;
	border-right: 1px solid #999;
}

