body {
	font: normal <? fontsize ?> "<? fontname ?>", sans-serif;
	background-color: <? backgroundcolor ?>;
	color: <? textcolor ?>;
	margin: 0;
	line-height: 16px;
}

div.messagewrapper {
	background-color: <? backgroundcolor ?>;
	padding-left: 10px;
	padding-right: 12px;
	padding-bottom: 20px;
}

div.messagewrapper:nth-child(1) {
	margin-top:20px;
}

div.message, div.messagestatus {
	border-top: 1px solid rgba(255,255,255,0.65);
}

div.messagestatus, div.messageinfo {
	font-size: 12px;
	color: #FFFFFF;
}

div.messageheader, div.messagebody, div.messagestatus {
	padding: 5px 10px 5px 10px;
}

div.messageheader {
	min-height: 32px;
	border-bottom: 1px solid #999;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
    background: <? headerbackground ?>;
}

div.message {
	background-color: <? backgroundcolor ?>;
	border-radius: 3px;
	border: 1px solid #999;
	box-shadow: 0px 0px 2px rgba(127, 131, 137, 0.4);
}

div.messagestatus {
	color: white;
	background-color: #81b7e9;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#81b7e9), color-stop(100%,#5184d2));
	margin-bottom: 20px;
}

div.icon { 
	float: left; 
	margin-right: 10px;
}

div.messageinfo span.nick {
	display: block;
}

div.messageinfo span.time:after {
	content: " - ";
	font-size: 10px;
	color: #999999;
}

div.messageinfo span.time, div.messageinfo span.server {
	font-size: 10px;
}

div.messageinfo img {
	width: 16px;
	height: 16px;
	float: right;
	margin-bottom: 8px;
}

div.messagebody { 
	padding-bottom: 15px;
    margin-left: 5px;
    margin-top: 5px;

}

.from span.nick {
	font-weight: bold;
	color: #000000;
}

.to span.nick {
	font-weight: bold;
	color: #ff0000;
}

div.loaderWrapper {
	position:fixed;
	z-index:10;
	width:100%;
	height: 50px;
	left:0;
	top:-50px;
	height: 50px;
	background:yellow;
}

a { color: <? urltextcolor ?>; }
