[submodule "MMTabBarView"]
	path = MMTabBarView
	url = https://github.com/MiMo42/MMTabBarView
[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/andymatuschak/Sparkle.git
[submodule "WiredFrameworks"]
	path = WiredFrameworks
	url = https://github.com/nark/WiredFrameworks.git
[submodule "json-framework"]
	path = json-framework
	url = https://github.com/nark/json-framework.git
[submodule "NSDate-TimeAgo"]
	path = NSDate-TimeAgo
	url = https://github.com/kevinlawler/NSDate-TimeAgo
