[submodule "vendor/MMTabBarView"]
	path = vendor/MMTabBarView
	url = https://github.com/MiMo42/MMTabBarView
[submodule "vendor/NSDate-TimeAgo"]
	path = vendor/NSDate-TimeAgo
	url = https://github.com/kevinlawler/NSDate-TimeAgo.git
[submodule "vendor/WiredFrameworks"]
	path = vendor/WiredFrameworks
	url = https://github.com/nark/WiredFrameworks.git
[submodule "vendor/Sparkle"]
	path = vendor/Sparkle
	url = https://github.com/nark/Sparkle.git
