<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>Angry.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-@</string>
				<string>:@</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>Cool.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8)</string>
				<string>(8</string>
				<string>8-)</string>
				<string>(-8</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>Cry.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:&apos;(</string>
				<string>)&apos;:</string>
				<string>:&quot;(</string>
				<string>)&quot;:</string>
			</array>
			<key>Name</key>
			<string>Cry</string>
		</dict>
		<key>Embarrassed.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:[</string>
				<string>]:</string>
				<string>:-[</string>
				<string>]-:</string>
			</array>
			<key>Name</key>
			<string>Embarrassed</string>
		</dict>
		<key>Footinmouth.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:!</string>
				<string>!:</string>
				<string>:-!</string>
				<string>!-:</string>
			</array>
			<key>Name</key>
			<string>Foot in Mouth</string>
		</dict>
		<key>Frown.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
				<string>=(</string>
				<string>u.u</string>
				<string>u_u</string>
				<string>U.U</string>
				<string>U_U</string>
				<string>):</string>
				<string>)=</string>
				<string>:c</string>
				<string>:C</string>
				<string>´´</string>
			</array>
			<key>Name</key>
			<string>Sad</string>
		</dict>
		<key>Gasp.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:o</string>
				<string>:0</string>
				<string>0:</string>
				<string>O:</string>
				<string>:-0</string>
				<string>:-O</string>
				<string>0-:</string>
				<string>O-:</string>
			</array>
			<key>Name</key>
			<string>Gaps</string>
		</dict>
		<key>Innocent.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(:0</string>
				<string>(:O</string>
				<string>O:)</string>
				<string>0:)</string>
				<string>0:-)</string>
				<string>0:-D</string>
				<string>O:D</string>
				<string>(-:0</string>
				<string>(-:O</string>
			</array>
			<key>Name</key>
			<string>Innocent</string>
		</dict>
		<key>Kiss.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
				<string>8^*</string>
				<string>= #</string>
				<string>:-)*</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>Laugh.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:D</string>
				<string>:-D</string>
				<string>:&apos;D</string>
			</array>
			<key>Name</key>
			<string>Laugh</string>
		</dict>
		<key>Moneymouth.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:$</string>
				<string>$:</string>
				<string>:-$</string>
				<string>$-:</string>
				<string>:-($)</string>
				<string>($)-:</string>
			</array>
			<key>Name</key>
			<string>Money Mouth</string>
		</dict>
		<key>Sealed.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-x</string>
				<string>:-X</string>
				<string>:X</string>
				<string>=X</string>
				<string>x:</string>
				<string>X:</string>
			</array>
			<key>Name</key>
			<string>Lips Are Sealed</string>
		</dict>
		<key>Slant.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:/</string>
				<string>:-/</string>
				<string>/:</string>
				<string>/-:</string>
				<string>=-/</string>
			</array>
			<key>Name</key>
			<string>Slant</string>
		</dict>
		<key>Smile.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:^)</string>
				<string>:-)</string>
				<string>:)</string>
				<string>=)</string>
				<string>(:</string>
				<string>(=</string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>Wink.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
				<string>o.&lt;</string>
				<string>O.&lt;</string>
				<string>o_&lt;</string>
				<string>O_&lt;</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
		<key>Yuck.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-P</string>
				<string>:-p</string>
				<string>:P</string>
				<string>:b</string>
				<string>=P</string>
				<string>=b</string>
				<string>:p</string>
				<string>=p</string>
				<string>=-p</string>
			</array>
			<key>Name</key>
			<string>Yuck</string>
		</dict>
	</dict>
</dict>
</plist>
