
body {
	font: normal <? fontsize ?> "<? fontname ?>", sans-serif;
	background-color: <? backgroundcolor ?>;
	color: <? textcolor ?>;
}


div#thread-content {
	padding: 10px;
}

div.post {
	margin-bottom: 10px;
	padding-bottom: 30px;
	border-bottom: 1px solid #bfbfbf;
}

img.postunread { margin-left: 6px; }

div.postheader { font: normal 12px "Helvetica", sans-serif; }

div.posticon { float: left; }

div.postattributes {

}

span.postfrom {
	min-width: 80px;
	text-align: left;
	display: inline-block;
	margin-left: 10px;
	font-weight: bold;
}

div.postheadertitles {
	display: inline-block;
	font-size: 0.8em;
}

div.postheadervalues {
	display: inline-block;
	font-size: 0.8em;
}

span.postheadertitle {
	display: block;
	font-weight: bold;
	color: gray;
	text-align: right;
	vertical-align: top;
	padding-right: 0.5em;
	margin-left: 10px;
}

span.postheadervalue {
	display: block;
	text-align: left;
	vertical-align: top;
	padding-right: 0.5em;
}

div.postbody {
	margin: 10px 0 10px 0;
	padding-top: 10px;
	border-top: 1px solid #bfbfbf;
	clear: both;
}

div.postbuttons {
	text-align: right;
	float: right;
	margin-top: -25px;
}

input.postbutton {
	font: normal 10px "Helvetica", sans-serif;
	margin-right: 5px;
}

blockquote {
	margin: 0px 0px 0px 15px;
	padding: 8px;
	border: 1px solid #bfbfbf;
	background-color: #e8e8e8;
}

pre { margin: 0px; }

div.center { text-align: center; };
