body {
	font: normal <? fontsize ?> "<? fontname ?>", sans-serif;
	background-color: <? backgroundcolor ?>;
	color: <? textcolor ?>;
}


a {
	color: <? urltextcolor ?>;
}


#chat-content { padding: 5px; }


.chat-media-frame {
	display: block;
	margin-top: 10px;
	padding-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
}

.chat-media-frame img {
	max-width: 300px;
}


.chat-message span.nick {
	display: inline-block;
	min-width: 80px;
	text-align: right;
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


.chat-message span.message {
	word-wrap:break-word;
}



.chat-event span.message {
	color: <? eventcolor ?>;
}



span.timestamp {
	display: inline;
	width: 35px;
	color: <? timestampcolor ?>;
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}