* {
    padding:0;
    margin:0;
}

html {
	background-color: #383838;
}

a { color: #084fd1; }

body {
	font: normal 18px "Helvetica", sans-serif;
	color: gainsboro;
	background-color: #383838;
	line-height: 16px;
}

#thread-content {
	padding-left: 10px;
	padding-right: 12px;
	padding-top: 10px;
}


div.post {
	margin-bottom: 20px;
	background-color: #383838;
	border-radius: 3px;
	border: 1px solid #999;
}


div.postheader { 
    font: normal 12px "Helvetica", sans-serif; 
    background-color: dimgray;
    padding: 7px;
    min-height: 42px;
    border-bottom: 1px solid #999;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

div.postinfo {
	width: 215px;
	float: left;
}


div.postattributes {
    margin-left: 10px;
}

div.postheadertitles {
	float: left;
}

span.postheadertitle {
	font-weight: bold;
	display: block;
	color: gray;
	text-align: right;
	width: 45px;
	margin-left: 10px;
	padding-right: 5px;
}

div.postheadervalues {

}

span.postheadervalue {
	display: block;
}


span.postfrom {
    min-width: 400px;
    text-align: left;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

span.postpostdatestring, span.posteditdatestring {
    font: normal 9px "Helvetica", sans-serif;
}

span.postpostdate, span.posteditdate {
	font: normal 9px "Helvetica", sans-serif;
}


div.posticon { float: left; margin-top: 5px; }

.postunread {
	float: right;
	display: block;
	padding-top: 6px;
}

div.postbuttons {
	padding: 5px;
	margin-right: 5px;
    margin-top: 5px;
	text-align: right;
	width: auto;
	float: right;
}

input.replybutton {
	background: transparent url("../img/reply.svg") no-repeat;
}

input.quotebutton {
	background: transparent url("../img/quote.svg") no-repeat;
}

input.editbutton {
	background: transparent url("../img/edit.svg") no-repeat;
}

input.deletebutton {
	background: transparent url("../img/delete.svg") no-repeat;
}

.postbuttons input[type="button"] {
	margin-left: 16px;
}

input[type="button"] {
	height: 20px;
	width: 16px;
	background-size: 16px 20px;
	background-position: center center;
	text-align: center;
	cursor: pointer;
    display: inline-block;
    opacity: 0.65;
    border: none;

    -webkit-appearance: none;
    -webkit-transition: opacity 0.2s ease-in-out;
}

input[type="button"]:not(.disabled):hover {
	opacity: 0.80;
}


div.postbody {
	padding: 10px;
	clear: both;
}

div.postbody img, div.postbody iframe, div.postbody embed {
	max-width: 100%;
}

div.reply {
	padding: 10px;
	background-color: dimgray;
}

div.reply input {
    display: inline-block;
    min-width: 80px;
    padding-left: 15px;
    padding-right: 15px;
	background-color: rgba(0,255,10,0.1);
}

blockquote {
	margin: 0px 0px 0px 15px;
	padding: 8px;
	border: 1px solid #bfbfbf;
	background-color: #383838;
}

pre { margin: 0px; }

div.center { text-align: center; };
