<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>Adolf.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Adolf</string>
				<string>+adolf</string>
			</array>
			<key>Name</key>
			<string>Adolf.tiff</string>
		</dict>
		<key>Alien.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Alien</string>
				<string>+alien</string>
			</array>
			<key>Name</key>
			<string>Alien.tiff</string>
		</dict>
		<key>Ambivalent.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-l</string>
			</array>
			<key>Name</key>
			<string>Ambivalent.tiff</string>
		</dict>
		<key>Angry.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:-i</string>
				<string>&gt;:-o</string>
				<string>&gt;:-c</string>
				<string>&gt;:c</string>
				<string>&gt;:o</string>
				<string>&gt;:i</string>
			</array>
			<key>Name</key>
			<string>Angry.tiff</string>
		</dict>
		<key>Ass.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Ass</string>
				<string>+ass</string>
			</array>
			<key>Name</key>
			<string>Ass.tiff</string>
		</dict>
		<key>Baby-boy.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Babyboy</string>
				<string>+babyboy</string>
			</array>
			<key>Name</key>
			<string>Baby-boy.tiff</string>
		</dict>
		<key>Baby-girl.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Babygirl</string>
				<string>+babygirl</string>
			</array>
			<key>Name</key>
			<string>Baby-girl.tiff</string>
		</dict>
		<key>Beer.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Beer</string>
				<string>+beer</string>
			</array>
			<key>Name</key>
			<string>Beer.tiff</string>
		</dict>
		<key>Beret.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Beret</string>
				<string>+beret</string>
			</array>
			<key>Name</key>
			<string>Beret.tiff</string>
		</dict>
		<key>Bomb.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*-o</string>
				<string>*-O</string>
			</array>
			<key>Name</key>
			<string>Bomb.tiff</string>
		</dict>
		<key>Burger.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+burger</string>
				<string>+Burger</string>
			</array>
			<key>Name</key>
			<string>Burger.tiff</string>
		</dict>
		<key>Cigar.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Cigar</string>
				<string>+cigar</string>
			</array>
			<key>Name</key>
			<string>Cigar.tiff</string>
		</dict>
		<key>Clushing.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=-/</string>
			</array>
			<key>Name</key>
			<string>Clushing.tiff</string>
		</dict>
		<key>Coffee.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+coffee</string>
				<string>+Coffee</string>
			</array>
			<key>Name</key>
			<string>Coffee.tiff</string>
		</dict>
		<key>Confused.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>x_x</string>
			</array>
			<key>Name</key>
			<string>Confused.tiff</string>
		</dict>
		<key>Cool.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8)</string>
				<string>8-)</string>
			</array>
			<key>Name</key>
			<string>Cool.tiff</string>
		</dict>
		<key>Cooler.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-l</string>
			</array>
			<key>Name</key>
			<string>Cooler.tiff</string>
		</dict>
		<key>Crazy.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>%-p</string>
				<string>%-P</string>
			</array>
			<key>Name</key>
			<string>Crazy.tiff</string>
		</dict>
		<key>Cry.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'(</string>
				<string>:...c</string>
				<string>:c</string>
				<string>:-c</string>
				<string>:'/</string>
				<string>:...-c</string>
			</array>
			<key>Name</key>
			<string>Cry.tiff</string>
		</dict>
		<key>Crying.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-((</string>
			</array>
			<key>Name</key>
			<string>Crying.tiff</string>
		</dict>
		<key>Cyclop.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O-)</string>
				<string>0-)</string>
				<string>o-)</string>
			</array>
			<key>Name</key>
			<string>Cyclop.tiff</string>
		</dict>
		<key>Devil.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>):-D</string>
			</array>
			<key>Name</key>
			<string>Devil.tiff</string>
		</dict>
		<key>Distrusted.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>¬¬</string>
			</array>
			<key>Name</key>
			<string>Distrusted.tiff</string>
		</dict>
		<key>Doctor.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[]</string>
			</array>
			<key>Name</key>
			<string>Doctor.tiff</string>
		</dict>
		<key>Embarrassed.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
				<string>:[</string>
			</array>
			<key>Name</key>
			<string>Embarrassed.tiff</string>
		</dict>
		<key>Finger.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Finger</string>
				<string>+finger</string>
			</array>
			<key>Name</key>
			<string>Finger.tiff</string>
		</dict>
		<key>Footinmouth.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-!</string>
				<string>:!</string>
			</array>
			<key>Name</key>
			<string>Footinmouth.tiff</string>
		</dict>
		<key>Frown.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
			</array>
			<key>Name</key>
			<string>Frown.tiff</string>
		</dict>
		<key>Gasp.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-o</string>
				<string>:o</string>
			</array>
			<key>Name</key>
			<string>Gasp.tiff</string>
		</dict>
		<key>Grin.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>^_^</string>
			</array>
			<key>Name</key>
			<string>Grin.tiff</string>
		</dict>
		<key>Heart.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+heart</string>
				<string>+Heart</string>
			</array>
			<key>Name</key>
			<string>Heart.tiff</string>
		</dict>
		<key>Ill.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:l(</string>
			</array>
			<key>Name</key>
			<string>Ill.tiff</string>
		</dict>
		<key>In-love.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*-P</string>
			</array>
			<key>Name</key>
			<string>In-love.tiff</string>
		</dict>
		<key>Innocent.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>o:-)</string>
				<string>o:)</string>
			</array>
			<key>Name</key>
			<string>Innocent.tiff</string>
		</dict>
		<key>Japonais.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>-_-</string>
			</array>
			<key>Name</key>
			<string>Japonais.tiff</string>
		</dict>
		<key>Katze.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+katze</string>
				<string>+Katze</string>
			</array>
			<key>Name</key>
			<string>Katze.tiff</string>
		</dict>
		<key>Kiss.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
				<string>:*</string>
			</array>
			<key>Name</key>
			<string>Kiss.tiff</string>
		</dict>
		<key>Laugh.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-d</string>
				<string>:d</string>
			</array>
			<key>Name</key>
			<string>Laugh.tiff</string>
		</dict>
		<key>Lightsaber-blue.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+lightsaberblue</string>
				<string>+Lightsaberblue</string>
			</array>
			<key>Name</key>
			<string>Lightsaber-blue.tiff</string>
		</dict>
		<key>Lightsaber-green.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Lightsabergreen</string>
				<string>+lightsabergreen</string>
			</array>
			<key>Name</key>
			<string>Lightsaber-green.tiff</string>
		</dict>
		<key>Lightsaber-red.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Lightsaberred</string>
				<string>+lightsaberred</string>
			</array>
			<key>Name</key>
			<string>Lightsaber-red.tiff</string>
		</dict>
		<key>Moneymouth.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
				<string>:$</string>
			</array>
			<key>Name</key>
			<string>Moneymouth.tiff</string>
		</dict>
		<key>Nerd.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>B-)</string>
			</array>
			<key>Name</key>
			<string>Nerd.tiff</string>
		</dict>
		<key>Oops.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+oops</string>
				<string>+Oops</string>
			</array>
			<key>Name</key>
			<string>Oops.tiff</string>
		</dict>
		<key>Party.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Party</string>
				<string>+party</string>
			</array>
			<key>Name</key>
			<string>Party.tiff</string>
		</dict>
		<key>Pig.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Pig</string>
				<string>+pig</string>
			</array>
			<key>Name</key>
			<string>Pig.tiff</string>
		</dict>
		<key>Pinch.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>X-.</string>
				<string>x-.</string>
			</array>
			<key>Name</key>
			<string>Pinch.tiff</string>
		</dict>
		<key>Pirate.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+pirate</string>
				<string>+Pirate</string>
			</array>
			<key>Name</key>
			<string>Pirate.tiff</string>
		</dict>
		<key>Pistol.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Pistol</string>
				<string>+pistol</string>
			</array>
			<key>Name</key>
			<string>Pistol.tiff</string>
		</dict>
		<key>Pizza.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Pizza</string>
				<string>+pizza</string>
			</array>
			<key>Name</key>
			<string>Pizza.tiff</string>
		</dict>
		<key>Poker.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+poker</string>
				<string>+Poker</string>
			</array>
			<key>Name</key>
			<string>Poker.tiff</string>
		</dict>
		<key>Police.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Police</string>
				<string>+fed</string>
				<string>+police</string>
				<string>+Fed</string>
			</array>
			<key>Name</key>
			<string>Police.tiff</string>
		</dict>
		<key>Red-star.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+commie</string>
				<string>+Commie</string>
			</array>
			<key>Name</key>
			<string>Red-star.tiff</string>
		</dict>
		<key>Ruwi.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+ruwi</string>
				<string>+Ruwi</string>
			</array>
			<key>Name</key>
			<string>Ruwi.tiff</string>
		</dict>
		<key>Santa.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Santa</string>
				<string>+santa</string>
			</array>
			<key>Name</key>
			<string>Santa.tiff</string>
		</dict>
		<key>Sarcastic.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-D</string>
			</array>
			<key>Name</key>
			<string>Sarcastic.tiff</string>
		</dict>
		<key>Sealed.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-x</string>
				<string>:x</string>
			</array>
			<key>Name</key>
			<string>Sealed.tiff</string>
		</dict>
		<key>Sick.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-S</string>
				<string>:S</string>
			</array>
			<key>Name</key>
			<string>Sick.tiff</string>
		</dict>
		<key>Skull.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Skull</string>
				<string>+skull</string>
			</array>
			<key>Name</key>
			<string>Skull.tiff</string>
		</dict>
		<key>Slant.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-/</string>
				<string>:/</string>
			</array>
			<key>Name</key>
			<string>Slant.tiff</string>
		</dict>
		<key>Smile.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
			</array>
			<key>Name</key>
			<string>Smile.tiff</string>
		</dict>
		<key>Sorcerer.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&lt;:-)</string>
				<string>+sorcerer</string>
			</array>
			<key>Name</key>
			<string>Sorcerer.tiff</string>
		</dict>
		<key>Stupid.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Stupid</string>
				<string>+stupid</string>
			</array>
			<key>Name</key>
			<string>Stupid.tiff</string>
		</dict>
		<key>Swastika.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+nazi</string>
				<string>+swastika</string>
				<string>+Swastika</string>
				<string>+Nazi</string>
			</array>
			<key>Name</key>
			<string>Swastika.tiff</string>
		</dict>
		<key>Sweating.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>l-(</string>
				<string>l'-(</string>
			</array>
			<key>Name</key>
			<string>Sweating.tiff</string>
		</dict>
		<key>Tired.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Tired</string>
				<string>+tired</string>
			</array>
			<key>Name</key>
			<string>Tired.tiff</string>
		</dict>
		<key>Trooper.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+trooper</string>
				<string>+Trooper</string>
			</array>
			<key>Name</key>
			<string>Trooper.tiff</string>
		</dict>
		<key>Vader.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+Vader</string>
				<string>+vader</string>
			</array>
			<key>Name</key>
			<string>Vader.tiff</string>
		</dict>
		<key>W00t.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+W00t</string>
				<string>+Woot</string>
				<string>+woot</string>
				<string>+w00t</string>
			</array>
			<key>Name</key>
			<string>W00t.tiff</string>
		</dict>
		<key>Weed.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+weed</string>
				<string>+Weed</string>
			</array>
			<key>Name</key>
			<string>Weed.tiff</string>
		</dict>
		<key>Whistling.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+whistle</string>
				<string>+Whistle</string>
			</array>
			<key>Name</key>
			<string>Whistling.tiff</string>
		</dict>
		<key>Wink.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;)</string>
				<string>;-)</string>
			</array>
			<key>Name</key>
			<string>Wink.tiff</string>
		</dict>
		<key>Wtf.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>0_o</string>
				<string>O_o</string>
			</array>
			<key>Name</key>
			<string>Wtf.tiff</string>
		</dict>
		<key>Yuck.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-p</string>
				<string>:p</string>
			</array>
			<key>Name</key>
			<string>Yuck.tiff</string>
		</dict>
		<key>Yummy.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-C)</string>
				<string>:-c)</string>
			</array>
			<key>Name</key>
			<string>Yummy.tiff</string>
		</dict>
		<key>Zorro.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+zorro</string>
				<string>+Zorro</string>
			</array>
			<key>Name</key>
			<string>Zorro.tiff</string>
		</dict>
	</dict>
</dict>
</plist>
