* {
	padding: 0;
	margin: 0; 
}

html {
	padding: 0;
	margin: 0; 
}

body {
	font: normal <? fontsize ?> "<? fontname ?>", sans-serif;
	background-color: <? backgroundcolor ?>;
	background: <? backgroundcolor ?> url(../img/scanlines-bg.png) repeat;
	color: <? textcolor ?>;
	text-shadow: 0px 0px 3px <? textcolor ?>;
}

a {
	color: yellow;
	text-shadow: 0px 0px 3px yellow;
}

div.post {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

img.postunread { margin-left: 6px; }

div.postheader { 
	font: normal 12px "Helvetica", sans-serif; 
	background-color: green;
	color: #35ff1a;
	text-shadow: 0px 0px 2px #35ff1a;
	padding: 5px;
	min-height: 32px;
}

span.postfrom {
	min-width: 80px;
	text-align: left;
	display: inline-block;
	margin-left: 10px;
	font-weight: bold;
}

div.postheadertitles {
	display: inline-block;
	font-size: 0.8em;
}

div.postheadervalues {
	display: inline-block;
	font-size: 0.8em;
}

span.postheadertitle {
	display: block;
	font-weight: bold;
	color: white;
	text-align: right;
	vertical-align: top;
	text-shadow: 0px 1px 0px black;
	margin-left: 10px;
}

span.postheadervalue {
	display: block;
	text-align: left;
	vertical-align: top;
	padding-right: 0.5em;
}

div.posticon { float: left; }

div.postbody {
	margin: 10px 0 10px 0;
	padding: 5px;
	padding-top: 10px;
	clear: both;
	
}

div.postbuttons {
	text-align: right;
	float: right;
	margin-top: -25px;
}


form.reply {
	padding: 5px;
	background-color: green;
}

input.postbutton {
	font: normal 10px "Helvetica", sans-serif;
	margin-right: 5px;
}

blockquote {
	margin: 0px 0px 0px 15px;
	padding: 8px;
	border: 1px solid #bfbfbf;	
	background-color: <? textcolor ?>;
	color: white;
}

pre { 
	margin: 0px; 
}

div.center { text-align: center; };
