
body {
	font: normal <? fontsize ?> "<? fontname ?>", sans-serif;
	background: <? backgroundcolor ?> url(../img/scanlines-bg.png) repeat;
	color: <? textcolor ?>;
	margin: 0;
	text-shadow: 0px 0px 2px <? textcolor ?>;
}

a {
	color: yellow;
	text-shadow: 0px 0px 3px yellow;
}

div.message, div.messagestatus {
	border-top: 1px dotted green;
	padding: 5px 10px 5px 10px;
}

div.messagestatus, div.messageinfo {
	font-size: 12px;
	color: #35ff1a;
	text-shadow: 0px 0px 2px #35ff1a;
}

div.messagestatus {
	background-color: green;
}

div.messageinfo {
	float: right;
	text-align: right;
}

div.icon { float: left; }

div.messagebody { margin-left: 42px; }

span.nick {
	font-weight: bold;
	color: #35ff1a;
	text-shadow: 0px 0px 2px #35ff1a;
}

.from span.nick {
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 0px 2px #fff;
}